.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $light-gray;
  background-color: $gray-darker;
  min-width: 22rem;
  min-height: calc(100% - 3vh);
  height: fit-content;
  padding: 1rem;
  user-select: none;
  padding: 2rem;
  gap: 3rem;
  border-radius: 0.5rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;
      width: 100%;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        span {
          color: $primary-color;
        }
      }
    }

    .itemsContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0 4px 8px $shadow-default;
        background-color: $light-gray;
        color: $gray-darker;
        border: 1px solid $gray-darker;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:active {
          cursor: grabbing;
        }

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }

        .buttons {
          display: none;
          gap: 0.5rem;
          transition: all 0.3s ease-in-out;
          color: $gray-dark;
        }

        &:hover .buttons {
          display: flex;
        }
      }

      .actionButtons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem 0;

        button {
          color: $gray-dark !important;
        }
      }
    }
  }

  .addItem {
    .ant-input-outlined,
    input {
      background: $light-gray !important;
    }

    button {
      color: $gray-dark;
    }
  }
}
