.app {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  height: 100vh;

  .columnsContainer {
    display: flex;
    height: 100%;
    padding: 2rem;
    gap: 1.5rem;
    overflow-x: scroll;
  }
}
