.app {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);

  .columnsContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 2rem;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      border: 1px solid var(--white);
      color: var(--white);
      width: 100%;
      padding: 1rem;
      user-select: none;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--green-300), var(--green-700));
        width: 100%;
        height: 50px;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }
}
