.app {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  height: 100vh;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    .imageLogo {
      background-color: $white;
      width: 5rem;
      height: 5rem;
      border-radius: 1rem;
      background: url('/logo.png') center center / cover no-repeat;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        background: url('/logo_minimized.png') center center / cover no-repeat;
      }

      &:active {
        transform: scale(0.95);
        background: url('/logo_minimized.png') center center / cover no-repeat;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .columnsContainer {
    display: flex;
    height: 100%;
    padding: 2rem;
    gap: 1.5rem;
    overflow-x: scroll;
  }
}
