* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-secondary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $gray-darker;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10px;
  border: 2px solid $gray-dark;

  &:hover {
    background-color: $primary-color-hover;
    cursor: pointer;
  }
}

.w-100 {
  width: 100%;
}

.button {
  padding: 1.25rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
