@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// font-family: "Inter", sans-serif;

:root {
  --white: #dad7cd;
  --light-gray: #97948b;
  --gray: #1a1e24;
  --gray-2: #1a1b1b;
  --black: #121111;

  --primary-color: #fdd20a;
  --primary-color-hover: #fdd20ab3;

  --montserrat: 'Montserrat', sans-serif;
  --inter: 'Inter', sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--gray-2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.primaryButton {
  background-color: var(--gray-2);
  color: var(--white);
  border: 1px solid var(--black);
  padding: 1rem;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--black);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.secondaryButton {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 12px;
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--black);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
