@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

// TODO: ADICIONAR FONT
// <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

:root {
  --white: #a0a0a0;
  --light-gray-2: #a0a0a0;
  --green-100: #dad7cd;
  --green-300: #a3b18a;
  --green-500: #588157;
  --green-700: #3a5a40;
  --green-900: #344e41;
  --light-gray: #2c3136;
  --gray: #1b1f23;
  --black: #100b00;

  --font-family: 'Montserrat', sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.primaryButton {
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 12px;
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--green-700);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.secondaryButton {
  background-color: var(--green-300);
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 12px;
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--green-500);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
