@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// font-family: "Inter", sans-serif;

$white: #dad7cd;
$light-gray: #97948b;
$gray: #1a1e24;
$gray-2: #1a1b1b;
$black: #121111;

$shadow: rgba(0, 0, 0, 0.2);

$primary-color: #fdd20a;
$primary-color-hover: #fdd20ab3;

$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$font-size: 16px;
