// ---------------------------
// FONTES
// ---------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;
$base-font-size: 16px;

// ---------------------------
// CORES (BASE)
// ---------------------------
$white: #ebebeb;
$white-alt: #dad7cd;
$light-gray: #97948b;

$gray-dark: #1a1e24;
$gray-darker: #1a1b1b;
$black: #121111;

// ---------------------------
// CORES (SEMÂNTICAS)
// ---------------------------
$primary-color: #fdd20a;
$primary-color-hover: rgba(253, 210, 10, 0.7);

// ---------------------------
// OUTROS
// ---------------------------
$shadow-default: rgba(0, 0, 0, 0.2);
